{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="subtitle">About us</div>
    <div class="text">Software Engineering</div>
    <div class="text">Development Team: mksv</div>
    <div class="text">Team Member:</div>
    <a href="https://github.com/KKun117" target="_blank">Linkun Wan</a><br>
    <a href="https://github.com/Quadram13" target="_blank">Marcus Du</a><br>
    <a href="https://github.com/VanessaViglucci" target="_blank">Vanessa Viglucci</a><br>
    <a href="https://github.com/saragizabi" target="_blank">Sara Gizabi</a><br>
  </div>


{% endblock %}