{% extends 'base.html' %}

{% block title %}Add Game - Game Store{% endblock %}

{% block content %}
<div class="container">
    <div class="subtitle">Add Game</div>
    <form action="/add_game" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" name="developer" required><br><br>
        <input type="submit" value="Add Game">
    </form>
</div>
{% endblock %}

