{% extends 'base.html' %}

{% block title %}Home - Game Store{% endblock %}
{% block content %}


<div class="container">
    <div class="subtitle">Game Search</div>
</div>



<!-- Game Listings -->
<section class="game-listing">
    {% if docs %}
      {% for doc in docs %}
        <div class="game-item">
          <h2>{{ doc.game_title }}</h2>
          <p>{{ doc.developer }}</p>
          <form action="/games/{{ doc._id }}/reviews" method="GET">
            <input type="hidden" name="game_title" value="{{ doc.game_title }}">
            <button type="submit">View Reviews</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>No games found.</p>
    {% endif %}
  </section>
{% endblock %}