{% extends 'base.html' %}

{% block title %}Home - Game Store{% endblock %}
{% block content %}


<div class="container">
    <div class="subtitle">Game Search</div>
</div>




<div class="search-filter-section">
    <form action="/search" method="GET">

        <input type="text" name="search" placeholder="Search games..." aria-label="Search games">
        <button type="submit">Search</button>
    </form>
</div>


<!-- Game Listings -->
<section class="game-listing">
    {% if docs %}
      {% for doc in docs %}
        <div class="game-item">
          <h2>{{ doc.name }}</h2>
          <p>{{ doc.description }}</p>

        </div>
      {% endfor %}
    {% else %}
      <p>No games found.</p>
    {% endif %}
  </section>
{% endblock %}